<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monko.foreach">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SimplePost"
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="Foreach"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".PostActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".PostSingleActivity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".SplashActivity"></activity>
    </application>

</manifest>